/* Create styles */

.card-container {
    position: relative;
    margin: auto;
    width: 400px;
    height: 560px;
    border-radius: 5px;
    top: 120px;
    background: rgb(155, 137, 117);
    border: solid 3px rgb(255, 241, 215);
}

#card {
    width: 400px;
}

.card-container img {
    z-index: 10;
    position: relative;
    margin: auto;
}

.card-text {
    position: absolute;
    width: 100%;
    bottom: 60px;
    z-index: 12;
    height: 33px;
}

.card-text p {
    box-sizing: border-box;
    margin: 7px;
    font-weight: 200;
    line-height: 17px;
}

.name {
    top: 10px;
    background: rgb(85, 78, 71);
    color: rgb(205, 205, 205);
    text-shadow: 2px 2px black;
    margin-left: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
}

.name p {
    font-size: 1.1rem;
}

.text-options {
    position: absolute;
    background: rgb(0, 0, 0);
    border: solid 2px rgb(175, 243, 255);
    padding: 20px;
    top: 120px;
    right: 20px;
    z-index: 12;
    border-radius: 5px;
    box-shadow: 0 5px rgb(47, 87, 105);
}

.text-options p {
    text-align: center;
    cursor: pointer;
    margin: 0px 5px 20px 5px;
}

.save-card {
    position: absolute;
    top: 120px;
}

.image-input {
    position: absolute;
    top: 200px;
    left: 20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px rgb(60, 105, 135);
    border: solid 3px rgb(166, 240, 255);
}

.card-art {
    position: absolute;
    top: 54px;
    left: 40px;
    width: 315px;
    height: 260px;
    overflow: hidden; /* Hide overflowing parts of the image */
    z-index: 12;
}

.card-art img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Force the image to be at least as large as the container */
    min-width: 100%;
    min-height: 100%;

    /* Allow the image to expand beyond its container if needed */
    max-width: none;
    max-height: none;
}
  

.inline-symbol {
    display: inline-block; /* Ensures the span only wraps around the image */
    align-items: center;
    vertical-align: middle;
    margin: 0 2px;
    width: fit-content; /* Ensures no extra width is added */
}

.mtg-symbol {
    width: 1rem;
    height: 1rem;
    z-index: 100;
    vertical-align: middle;
}

.mana .inline-symbol {
    margin: 0 2px;
}

.mana .mtg-symbol {
    width: 1.1rem;
    height: 1.1rem;
}


.symbol-dropdown {
    width: 100px;
}