<app-navbar [links]="navLinks"></app-navbar>

<!-- DECK SELECTION -->W
<div class="deck-selection">
  <label for="deckSelect">Select a Deck:</label>
  <select id="deckSelect" [(ngModel)]="selectedDeck" (change)="onDeckSelected()">
    <option *ngFor="let deck of deckNames" class="deck-opt" [value]="deck">{{ deck }}</option>
  </select>
</div>

<!-- PLAY CONTAINER -->
<div class="play-container mt-5"
     (dragover)="onDragOver($event)"
     (drop)="onDrop($event)"
     style="position: relative; min-height: 400px; border: 2px dashed #ccc;">
  <div *ngFor="let played of playCards"
       class="played-card"
       draggable="true"
       (dragstart)="onDragStart($event, played, 'play')"
       (contextmenu)="onPlayRightClick($event, played)"
       [ngStyle]="{
         'position': 'absolute',
         'left.px': played.x,
         'top.px': played.y
       }"
       [class.tapped]="played.tapped">
    <img [src]="played.card.image_uris.normal" alt="card image">

    <div class="counter-circle"
       (click)="increaseCounter(played)"
       (contextmenu)="decreaseCounter(played, $event)"
       *ngIf="played.counters !== undefined && played.counters > 0">{{ played.counters }}</div>
    <span *ngIf="played.tapped" class="tap-icon material-symbols-outlined">
      refresh
    </span>
  </div>
</div>

<!-- PLAY OPTIONS -->
<div class="play-options">
  <a class="purch-btn" href="#" (click)="shuffleDeck(); $event.preventDefault()">SHUFFLE</a>
  <a class="purch-btn" href="#" (click)="drawCard(); $event.preventDefault()">DRAW</a>
  <a class="purch-btn" href="#" (click)="showGraveyard(); $event.preventDefault()">GRAVEYARD</a>
  <a class="purch-btn" href="#" (click)="mill(); $event.preventDefault()">MILL</a>
  <div class="token-selection">
    <label for="tokenSelect">Select a Token:</label>
    <select id="tokenSelect" [(ngModel)]="selectedToken">
      <option *ngFor="let token of tokenTypes" [value]="token.name">{{ token.name }}</option>
    </select>
    <button class="purch-btn" (click)="placeTokenInPlay()">Place Token</button>
  </div>
</div>

<!-- HAND -->
<div class="hand">
  <div class="d-flex flex-wrap cards justify-content-center">
    <div *ngFor="let card of hand" class="card"
         draggable="true"
         (dragstart)="onDragStart($event, card, 'hand')"
         (contextmenu)="onRightClick($event, card)">
      <img [src]="card.image_uris.normal" alt="card image">
    </div>
  </div>
</div>

<div class="graveyard" *ngIf="showGrave">
    <div class="d-flex flex-wrap cards justify-content-center">
      <div *ngFor="let card of graveyard" class="card" (contextmenu)="onGraveRightClick($event, card)">
        <img [src]="card.image_uris.normal" alt="card image">
      </div>
    </div>
</div>
  

<!-- Custom Context Menu for Hand Cards -->
<div class="context-menu" *ngIf="contextMenuVisible" 
     [ngStyle]="{'top.px': contextMenuY, 'left.px': contextMenuX}">
  <ul>
    <li (click)="discardSelectedCard()">Discard</li>
    <li (click)="onTop()">Top Of Library</li>
  </ul>
</div>

<!-- Custom Context Menu for Play Area Cards -->
<div class="context-menu play-context-menu" *ngIf="playContextMenuVisible" 
     [ngStyle]="{'top.px': playContextMenuY, 'left.px': playContextMenuX}">
  <ul>
    <li (click)="selectedPlayCard?.tapped ? untapSelectedCard() : tapSelectedCard()">
      {{ selectedPlayCard?.tapped ? 'Untap' : 'Tap' }}
    </li>
    <li (click)="sendToGraveyardSelectedCard()">Graveyard</li>
    <li (click)="exileSelectedCard()">Exile</li>
    <li (click)="backToHand()">Back to Hand</li>
    <li (click)="selectedPlayCard ? increaseCounter(selectedPlayCard) : null">Add Counter</li>
  </ul>
</div>

<!-- Custom Context Menu for Graveyard Cards -->
<div class="context-menu grave-context-menu" *ngIf="graveContextMenuVisible" 
     [ngStyle]="{'top.px': graveContextMenuY, 'left.px': graveContextMenuX}">
  <ul>
    <li (click)="returnToHandSelectedCard()">Return to hand</li>
  </ul>
</div>

<!-- LIFE COUNTER -->
<div class="life-container" 
(click)="increaseLife()"
(contextmenu)="decreaseLife($event)">
  <div class="life-counter">{{ life }}</div>
</div>


