<div class="release-notes-container animate__animated animate__fadeInRight">
    <div class="release-content">
        <h1 class="beleren-bold">1.2.0</h1>
        <p>
            This minor release includes:
        </p>
        <ul>
            <li>Online Multiplayer!</li>
            <ul>
                <li>Still in early development</li>
                <li>Limited to <b>two person games</b></li>
                <li>A little confusing to set up (a guide will be created soon)</li>
            </ul>
        </ul>
        <p>
            I'm releasing online multiplayer in it's unfinished state.
            I plan to refine/complete it and when done, I will release
            <b>version 2.0.0</b>.
        </p>

        <p class="notice">
            Multiplayer functionality depends on 'ngrok',
            a tool used for exposing your locally running server to others
            who want to join. In order to make requests to this server, they
            need to be authenticated with an ngrok auth token. Eventually I 
            will include a way in the UI to input an auth token to attach to requests,
            but for now <b>you will need to add your auth token directly in the code</b>.
        </p>
        <p class="notice">
            Add your ngrok auth token in <b>matchmaking.js</b> on <b>line 21</b>. You can
            either retrieve and use your own auth token (requires signing up for an ngrok account),
            or reach out to me and I can lend you mine.
        </p>
        <br>
        <h1 class="beleren-bold">1.1.0</h1>
        <p>
            This minor release includes:
        </p>
        <ul>
            <li>UI Fixes</li>
            <li>Dark/Light mode</li>
        </ul>
        <p>
            <b>
                Switch between dark and light themes by using the toggle in
                the top left of home page!
            </b>
        </p>
        <br>
        <h1 class="beleren-bold">1.0.0</h1>
        <p>
            First official release! From this point forward you will be able
            to find notes on each minor and major release here.
        </p>
        <p>
            New features in this initial release:
        </p>
        <ul>
            <li>UI Overhaul</li>
            <li>Quick-start guide (still in progress)</li>
        </ul>
        <p>
            The app should still function the same as it did before,
            <b>please let me know if you notice any bugs or have any 
            suggestions.</b>
        </p>
        <p>
            Features in progress:
        </p>
        <ul>
            <li>Light/Dark mode</li>
            <li>Custom card creation</li>
            <li>Support for double sided cards</li>
        </ul>
        <p>
            Although custom card creation is still under development,
            you can find a pre-release version by visiting 
            <a routerLink="create"><b>http://localhost:4200/create</b></a>
        </p>
    </div>
</div>
