<div class="release-notes-container animate__animated animate__fadeInRight">
    <div class="release-content">
        <h1 class="beleren-bold">1.0.0</h1>
        <p>
            First official release! From this point forward you will be able
            to find notes on each minor and major release here.
        </p>
        <p>
            New features in this initial release:
        </p>
        <ul>
            <li>UI Overhaul</li>
            <li>Quick-start guide (still in progress)</li>
        </ul>
        <p>
            The app should still function the same as it did before,
            <b>please let me know if you notice any bugs or have any 
            suggestions.</b>
        </p>
        <p>
            Features in progress:
        </p>
        <ul>
            <li>Light/Dark mode</li>
            <li>Custom card creation</li>
            <li>Support for double sided cards</li>
        </ul>
        <p>
            Although custom card creation is still under development,
            you can find a pre-release version by visiting 
            <a routerLink="create"><b>http://localhost:4200/create</b></a>
        </p>
    </div>
</div>
