<div class="deck-container">
  <div class="banner-container">
    <div class="banner gitrog">
      <h3>Manage Your Decks</h3>

      <input class="deck-option deck-name" type="text" [(ngModel)]="newDeckName" placeholder="New Deck Name">
      
      <select  class="drpdwn" [(ngModel)]="selectedDeck" (change)="loadDeck(selectedDeck)">
        <option value="">-- Select Deck --</option>
        <option *ngFor="let deck of deckNames" [value]="deck">{{ deck }}</option>
      </select>

      <button class="purch-btn create-btn" (click)="createDeck()">Create Deck</button>
      <button class="purch-btn delete-btn" (click)="deleteDeck()" [disabled]="!selectedDeck">Delete Deck</button>

      <!-- Sort Dropdown -->
      <select class="drpdwn" id="sortSelect" [(ngModel)]="sortCriteria" (change)="sortBy(sortCriteria)">
        <option value="">-- Sort By --</option>
        <option value="type">Card Type</option>
        <option value="manaCost">Mana Cost</option>
      </select>

      <p class="cardNum" *ngIf="deckSelectedFlag">{{ deckCount }}</p>
    </div>
</div>

  <ul *ngIf="deck.length > 0">
    <div class="d-flex flex-wrap cards justify-content-center">
      <li *ngFor="let card of deck" class="deck-card-wrapper"
          (contextmenu)="onRightClick($event, card)">
        <img [src]="card.image_uris?.normal || 'default-card-image.jpg'" class="card-img">
      </li>
    </div>
  </ul>

  <p *ngIf="deck.length === 0" class="no-cards">No cards in deck.</p>

  <div class="context-menu" *ngIf="contextMenuVisible" 
       [ngStyle]="{'top.px': contextMenuY, 'left.px': contextMenuX}">
    <ul>
      <li (click)="removeCard()">Remove Card</li>
      <li (click)="setCommander()">Set Commander</li>
    </ul>
  </div>
</div>
