<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="deck-container">
  <div class="banner-container">
    <div class="banner gitrog">


      <!-- make this a custom drop down -->
      <select  class="drpdwn" [(ngModel)]="selectedDeck" (change)="loadDeck(selectedDeck)">
        <option value="">Select Deck</option>
        <option *ngFor="let deck of deckNames" [value]="deck">{{ deck }}</option>
      </select>
      
      <!--add back in menu-->
      <!-- <button class="purch-btn delete-btn" (click)="deleteDeck()" [disabled]="!selectedDeck">Delete Deck</button> -->
      

      <!-- Sort Dropdown -->
      <select *ngIf="false" class="drpdwn" id="sortSelect" [(ngModel)]="sortCriteria" (change)="sortBy(sortCriteria)">
        <option value="">Sort By</option>
        <option value="type">Card Type</option>
        <option value="manaCost">Mana Cost</option>
      </select>

      <p class="cardNum" *ngIf="deckSelectedFlag">{{ deckCount }}</p>
    </div>
</div>

  <ul *ngIf="deck.length > 0">
    <div class="d-flex flex-wrap cards justify-content-center">
      <li *ngFor="let card of deck" class="deck-card-wrapper">
        <div class="card-icons">
          <span class="material-icons minus-icon" (click)="removeCard(card)">remove_circle</span>
          <span class="material-icons crown-icon" 
                [class.is-commander]="currentCommander && currentCommander.name === card.name && currentCommander.image_uri === card.image_uri"
                (click)="setCommander(card)">stars</span>
        </div>
        <img [src]="card.image_uri || 'default-card-image.jpg'" 
             class="card-img"
             [class.is-commander]="currentCommander && currentCommander.name === card.name && currentCommander.image_uri === card.image_uri">
      </li>
    </div>
  </ul>

  <p *ngIf="deck.length === 0 && deckSelectedFlag" class="no-cards animate__animated animate__fadeInDown">No cards in deck, '{{selectedDeck}}'</p>
  <p class="no-cards animate__animated animate__fadeInDown" *ngIf="!deckSelectedFlag">No deck selected.</p>
  <p class="no-cards error animate__animated" [ngClass]="{'animate__fadeInDown': noInputError, 'animate__fadeOutUp': fadeOutError}" *ngIf="showError">Enter a name to create a new deck.</p>
</div>

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Importing deck, please wait...</p>
</div>
