<app-navbar [links]="[{ text: 'FAQ', href: '#' }]"></app-navbar>
<div class="home-container container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="purch-header">
            <h1>Welcome to <span id="purch-add-color">&#60;insert_name></span> </h1>
        </div>
        <div class="purch-btns mt-5">
            <a routerLink="build" class="purch-btn">BUILD</a>
            <a routerLink="play" class="purch-btn purch-btn-alt">PLAY</a>
        </div>
    </div>
</div>
